<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Shopping Cart</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLinkActive="active" routerLink="/allProduct">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" *ngIf="_adminService.isAdmin()">
        <a class="nav-link" routerLinkActive="active" routerLink="/addProduct">Add Product</a>
      </li>
      <li class="nav-item" *ngIf="_adminService.isAdmin()">
        <a class="nav-link" routerLinkActive="active" routerLink="/tags">Add Tag</a>
      </li>
      <li class="nav-item" *ngIf="_adminService.isAdmin()">
          <a class="nav-link" routerLinkActive="active" routerLink="/shipment">Shipment</a>
        </li>
    </ul>

    <ul class="navbar-nav navbar-right">
        <button type="button" class="btn btn-primary" routerLinkActive="active" routerLink="/cart">
            Cart <span class="badge badge-light">{{_commonService.getLocalProductsNumber()}}</span>
          </button>

          <li class="nav-item">
              <a class="nav-link" *ngIf="!_adminService.isAuthenticated()" routerLinkActive="active" routerLink="/login">login</a>
            </li>

          <li class="nav-item">
              <a class="nav-link" *ngIf="_adminService.isAuthenticated()" routerLinkActive="active" routerLink="/allProduct" (click)="logOut()">logout</a>
            </li>
      </ul>
  </div>
</nav>