.alert{
    font-size: 15px;
    margin: 0;
    padding: 0;
    height: 25px;
}
.card{
    margin-top: 20px;
}
.form-control-file
{
    margin: 20px;
}
textarea{
    margin: 20px;
}
.custom-file
{
    margin: 20px;
}