<div class="container-fluid">
  <div class="row" *ngIf="products">
    <div class="col-md-3"  *ngFor="let product of products; let i = index">
        <div class="card border-primary">
          <div class="wrapper" (click)="onCardClick(product.id)">
              <img class="card-img-top" src="{{baseUrl+'/'+product.image[0].path}}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{product.productName}}</h5>
                <p class="card-text">{{product.description}}</p>
                <p class="card-text">Stocks remaining : {{product.stock}}</p>
                <p class="card-text"><strong>Price : {{product.price}}</strong></p>
              </div>
          </div>
          <div class="input-group">
              <div class="input-group-prepend">
                <button class="btn btn btn-secondary" type="button" (click)="subtractAmount($event)" id="{{i}}" value="{{product.id}}">-</button>
              </div>
              <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" value="{{purchaseAmount[i]}}">
                <div class="input-group-prepend">
                  <button class="btn btn btn-secondary" type="button" (click)="addAmount($event)" id="{{i}}" value="{{product.id}}">+</button>
                </div>
          </div>
          <button class="btn btn btn-primary" type="button" (click)="cartButtonClick($event)" id="{{i}}" value="{{product.id}}">Add To Cart</button>
        </div>
    </div>
  </div>
</div>
